:javascript
  $("shit").ready ->
    $("#event").on("ajax:success", (e, data, status, xhr) ->
      $("#event").append xhr.responseText
     ).on "ajax:error", (e, xhr, status, error) ->
      $("#event").append "<p>ERROR</p>"

%h1 New event

= form_for @event ,id: "shit", remote: true do |f|
  title: #{f.text_field :title}
  %br/
  place : #{f.text_field :place}
  %br/
  start date : #{f.datetime_field :startdate}
  %br/
  end date : #{f.datetime_field :enddate}
  %br/
  #{f.hidden_field :createtime, :value => @today}
  %br/

  = f.submit "ok" 

= link_to 'Back', events_path(date:@date)


