:javascript
  $(document).ready(function(){
    $('#shit')
      .bind("ajax:beforeSend", function(evt, xhr, settings){
        var $submitButton = $(this).find('input[name="commit"]');
  
        // Update the text of the submit button to let the user know stuff is happening.
        // But first, store the original text of the submit button, so it can be restored when the request is finished.
        $submitButton.data( 'origText', $(this).text() );
        $submitButton.text( "Submitting..." );
  
      })
      .bind("ajax:success", function(evt, data, status, xhr){
        var $form = $(this);
  
        // Reset fields and any validation errors, so form can be used again, but leave hidden_field values intact.
        $form.find('textarea,input[type="text"],input[type="file"]').val("");
        $form.find('div.validation-error').empty();
  
        // Insert response partial into page below the form.
        $('#comments').append(xhr.responseText);
  
      })
  });



%h1 New event

= form_for @event ,id: "shit", remote: true do |f|
  title: #{f.text_field :title}
  %br/
  place : #{f.text_field :place}
  %br/
  start date : #{f.datetime_field :startdate}
  %br/
  end date : #{f.datetime_field :enddate}
  %br/
  #{f.hidden_field :createtime, :value => @today}
  %br/

  = f.submit "commit" 

= link_to 'Back', events_path(date:@date)


